{
  "root": true,
  "extends": [
    "eslint:recommended"
  ],
  "env": {
    "es6": true,
    "node": true,
    "commonjs": true,
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2017 // async / awaite
  },
  "globals": {
    // use FetchAPI
    "fetch": false
  },
  "rules": {
    "no-console": ["warn"],
    "no-extra-parens": ["off"],
    "semi": [ 2, "always" ]
  }
}
